*{
	margin: 0;
	padding: 0;
}

a:hover{
	text-decoration: underline;
	color: red;

}
.nav li a{
	padding:10px 30px;
	float: right;
	color: white;
	text-decoration:none;
}
h1{
	clear: both;
}
#header{
	background:url(baidulogo.png) no-repeat;
	height: 50px;
	background-color: black;
}
#mainbody{
	background-color: #ccc;
	position: relative;
}
#wrap{
	margin-right: 420px;
	padding: 20px;
	
}
.part{
	padding: 20px;
	margin: 20px;
	border:1px solid gray;
	background-color: white;
}

.good div{
	text-align: center;
	border:1px solid silver;
	padding: 30px;
	margin: 30px;
	float: left;
}
img{
	width: 300px;
}

#right{
	position: absolute;right: 0;top: 40px;
	width: 400px;
	padding: 20px;
	background-color: white;

	border:1px solid gray;
}

table th{
	background-color: black;
	text-align: left;
	color:white;
}

.ol{
	padding-left: 50px;
}
#footer{
	color: white;
	background-color: black;
	width: 100%;
	height: 3em;
	text-align: center;
	clear: both;

}
ul li{
	list-style: none;
	padding-left: 30px;
}

