*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration:none;
}
a:hover{
	text-decoration: underline;
	color: red;

}
.nav li a{
	display:block;
	padding:10px 30px;
	float: right;
	color: white;
}
h1{
	clear: both;
}
#header{
	background:url(https://github.com/PolymerLiu/images/blob/master/baidulogo.png) no-repeat;
	height: 50px;
	background-color: black;
}
#wrap{
	width:1200px; margin:0 auto;
	padding: 20px;
	background-color: #cfc;
}
.part{
	padding: 20px;
	margin: 20px;
	border:1px solid gray;
}
.good div{
	text-align: center;
	border:1px solid silver;
	margin: 30px;
}
#last{
	height: 420px;
}
.left{
	width: 400px;
	/*border:1px solid gray;*/
	float: left;
}
.right{
	width: 780px;
	/*border:1px solid gray;*/
	float: right;
}
table th{
	background-color: black;
	text-align: left;
	color:white;
}
.ol{
	padding-left: 50px;
}
#footer{
	color: white;
	background-color: black;
	width: 100%;
	height: 3em;
	text-align: center;
	clear: both;

}
ul li{
	list-style: none;
	padding-left: 30px;
}

