*{
	margin: 0;
	padding: 0;
}


/*头部头部头部头部头部*/


#header{
	position: relative;
	/*border: 1px solid red;*/
}
#header img{
	width: 50px;
	height: 50px;
}
#header .left{
	padding-left: 50px;
}

#header .mid{
	position: absolute;
	padding-left: 20px;
	top: 10px;
	left: 100px
}

#header .right{
	position: absolute;
	top: 10px;
	right: 50px
}
#header .right a{
	text-decoration: none;
	color: black;
	font-size: 16px;
	padding-left: 20px;
}


/*第一页第一页第一页第*/

#page1{
	position: relative;
}

#page1 .up img{
	width: 100%;
}

#page1 .up h1{
	position: absolute;
	left: 100px;
	top: 150px;
	z-index: 2;
}

#page1 .up p{
	position: absolute;
	left: 100px;
	top: 210px;
	z-index: 2;
	font-size: 18px;
}

#page1 .up div{
	position: absolute;
	left: 100px;
	top: 260px;
	z-index: 2;
	font-size: 25px;
	background: #f33;
	color: white;
	padding-top: 12.5px;
	width: 250px;
	height: 50px;
	text-align: center;
}


#page1 .bottom{
	background: white;
}

#page1 .bottom section{
	width: 25%;
	height: 200px;
	float: left;
	padding-top: 50px;
}



/*第二页第二页第二页*/

#page2{
	background: #f2f2f2;
}
#page2 .up{
	text-align: center;
	/*border:1px solid red;*/
	clear: both;
}
#page2 .up img{
	width: 200px;
	height: 200px;
}
#page2 h1{
	color: silver;
}

#page2 .bottom{
	position: relative;
}

#page2 .bottom img{
	width: 100%;
	height: 100%;

}

#page2 .bottom select{
	width: 250px;
	height: 40px;
}

#country{
	position: absolute;
	top: 50%;
	left: 10%;
}

#province{
	position: absolute;
	top: 50%;
	left: 30%;
}

#city{
	position: absolute;
	top: 50%;
	left: 50%;
}

div #search-btn{
	position: absolute;
	right: 10%;
	top: 50%;

	z-index: 2;
	font-size: 25px;
	background: #f33;
	color: white;

	
	width: 250px;
	height: 40px;
	text-align: center;
}

#page2 .bottom article h3{
	position: absolute;
	top: 20%;
	left: 40%;
}

#page2 .bottom article p{
	position: absolute;
	top: 30%;
	left: 35%;
}


/*第三页第三页第三页第三页第三页第三页*/


#page3 .up{
	height: 500px;
	padding-left: 7%;
	padding-right: 2%;
	background: #f2f2f2;

}
#page3 .up section{
	float: left;
	border:1px solid silver;
	background: white;
	margin: 30px;
}

#page3 .up section img{
	padding: 10px;
}

#page3 .up section h2,h4,p{
	text-align: center;
	line-height: 1.5em;
}



#page3 .bottom{
	position: relative;
}


#page3 .bottom .left h2{
	font-size: 50px;
	position: absolute;
	top: 100px;
	left: 25%;
	text-align: center;
	color: white;
}

#page3 .bottom .left h1{
	font-size: 130px;
	position: absolute;
	top: 150px;
	left: 20%;
	color: white;
}

#page3 .bottom .left h5{
	position: absolute;
	top: 350px;
	left: 25%;
	color: white;
}

#page3 .bottom .left p{
	position: absolute;
	top: 400px;
	left: 25%;
	color: white;
}


#page3 .bottom .right{
	position: absolute;
	top: 0;
	right: 0;
	margin-left: 850px;
	padding: 200px 60px;
	text-align: center;
	line-height: 2.5;
	
}

#page3 .bottom .right span{
	color: #f33;
}

#page3 .bottom .right div{
	border:1px solid #f33;
	color: #f33;
	width: 80px;
	position: absolute;
	top: 75%;
	right: 45%;
}



/*第四页第四页第四页第四页第四页*/


#page4{
	position: relative;
}

#page4 .up section{
	width: 33.3%;
	height: 520px;
}

#page4 .up .left{
	background: #f33;
	color: white;
	position: absolute;
	top: 0;
	left: 0;
}
#page4 .up .left p span{
	border:1px solid white;
	color: white;
}
#page4 .up div{
	padding-top: 45%;
}

#page4 .up .mid{
	background: white;
	color: black;
	margin-left: 33.3%;
	margin-top: 0;
}

#page4 .up .mid p span{
	border:1px solid #f33;
	color: #f33;
}

#page4 .up .right{
	position: absolute;
	top: 0;
	right: 0;
}


#page4 .bottom{
	width: 80%;
	margin: 0 auto;

}

#page4 .bottom .up h2,p{
	text-align: center;
	line-height: 2.5;
}

#page4 .bottom .left div{
	width: 40%;
}

#page4 .bottom .left{
	padding-top: 30px;
	padding-bottom: 60px;
}
#page4 .bottom .left div p{
	text-align: left;
	line-height: 2;
}




/*底部底部底部底部底部底部底部底部*/


.footer1{
	background: #333;
	color: 	white;
	position: relative;

}

#footer .footer1 div{
	padding-top: 70px;
	padding-bottom: 70px;
}

.footer1 h3{
	text-align: center;
}

.submit-text{
	position: absolute;
	right: 470px;
	width: 500px;
	height: 30px;
}

.submit-btn{
	position: absolute;
	right: 370px;
	width: 100px;
	height: 30px;
}

.footer2{
	background: #330033;
	position: relative;
	height: 40px;
}

.footer2 p{
	position: absolute;
	top: 10px;
	color: white;
	left: 20px;
}

.footer2 a{
	position: absolute;
	top: 10px;
	color: white;
	right: 20px;
	text-decoration: none;
}